
body {
	background-image: url("tente2.jpg");
}

a {
	color: red;
	font-family: arial;
	text-transform: uppercase;
	font-size: 20px;
	width: 250px;
	height: 60px;
	border-radius: 40px;
	line-height: 40px;
	text-align: center;
	border: 2px solid white;
	display: block;
	text-decoration: none;
	margin: 20px ;
	color: white;
	position: left;
	overflow: hidden;
	background: transparent;
}
a:hover {
	transform: scale(1.1);
}
p {
	color: orange;
}
 .navbar-toggler {
 	color: red;
 }
 h1 {
 	color: white;
 	padding: 30px;
 	text-align: center;

 }